.cat .ant-checkbox-inner {
    display: inline-block;
    vertical-align: middle;
}

.sliders {

    width: 100vw !important;
    margin-left: -13px !important;
}

.slick-next {
    right: unset !important;
}

.slick-prev {
    left: unset !important;
}

.slick-track {
    padding-right: -1rem !important;
    transform: translate3d(-7670px, 0px, 0px);
}

.slider-container {
    width: 100vw;
    padding: 0 !important;
    margin-right: auto !important;
    margin-left: auto !important;
}


.sliders .slick-slider {
    --bs-gutter-x: -0.5rem !important;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5) !important;
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.slick-list {
    overflow: visible;
}

.slider-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


@media (max-width: 426px) {
    .slider-container .slick-list {
        height: 120px !important;
    }

    .slider-container img {
        height: 100%;
        object-fit: cover;
    }


    .slick-list {
        overflow: hidden;
    }

    .sliders {

        width: 100vw !important;
        --bs-gutter-x: -0.5rem !important;
        --bs-gutter-y: 0 !important;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5) !important;
        padding-left: calc(var(--bs-gutter-x) * 0) !important;
        margin-right: auto;
        margin-left: -13px !important;
    }

    .sliders .slick-slider {
        --bs-gutter-x: -0.5rem !important;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5) !important;
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-right: auto;
        margin-left: auto;
    }

}

/* Laptop-specific styles */
@media (max-width: 768px) {
    .slider-container .slick-list {
        height: 300px;
    }

    .slider-container img {
        height: 100%;
        object-fit: cover;
    }




    .slick-list {
        overflow: hidden;
    }

    .sliders {

        width: 100vw !important;
        --bs-gutter-x: -0.5rem !important;
        --bs-gutter-y: 0 !important;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5) !important;
        padding-left: calc(var(--bs-gutter-x) * 0) !important;
        margin-right: auto;
        margin-left: -13px !important;
    }

    .sliders .slick-slider {
        --bs-gutter-x: -0.5rem !important;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5) !important;
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-right: auto;
        margin-left: auto;
    }
}